<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="OptechX Logo" src="{{ "/assets/img/OPTECHX_1024-576.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> OptechX </h3>
    <ul>
      <li> Windows&#174; 10/11 Editions</li>
      <li> CI/CD SOE Build Pipelines</li>
      <li> OEM Support out-of-box</li>
    </ul>
    <p>A competitve, secure, cloud-hosted platform to enable design, build and compile Windows <a href="https://en.wikipedia.org/wiki/Standard_Operating_Environment" rel="noopener" target="_blank">SOE</a> images designed to support existing infrastructure regardless the size of business unit, company or government agency.</p>
    <a class="project-link" href="https://optechx.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
