<footer class="footer">
    {{ if .Site.Params.CustomFooterHTML }}
    {{ .Site.Params.CustomFooterHTML | safeHTML }}
    {{ end }}

    {{ .Scratch.Set "footerText" "" }}

    {{ if (.Site.Params.Footer) }}

    {{ if and (eq .Kind "page") (.Date) }}
    {{ .Scratch.Add "footerText" (.Date | time.Format "2006") }}
    {{ else }}
    {{ .Scratch.Add "footerText" (time.Now | time.Format "2006") }}
    {{ end }}

    {{ if and (eq .Kind "page") (.Lastmod) (gt (time.Format "2006" .Lastmod) (time.Format "2006" .Date)) }}
    {{ .Scratch.Add "footerText" "-" }}
    {{ .Scratch.Add "footerText" (.Lastmod | time.Format "2006") }}
    {{ end }}

    {{ .Scratch.Add "footerText" " " }}
    {{ .Scratch.Add "footerText" .Site.Params.Footer }}

    {{ if and (eq .Kind "page") (.Site.Copyright) }}
    {{ .Scratch.Add "footerText" " " }}
    {{ .Scratch.Add "footerText" .Site.Copyright }}
    {{ end }}

    {{ end }}

    {{ if (gt (.Scratch.Get "footerText" | len) 0) }}
    <span>&copy; {{ .Scratch.Get "footerText" | markdownify }}</span>
    {{ end }}

    <span>
        Made with &#10084;&#65039; in Sydney, Australia &#127462;&#127482;
    </span>

    <div style="margin-top: 0.5rem; display: flex; gap: 0.75rem; justify-content: center;">
        <a href="https://github.com/repasscloud/"><span data-feather='github'></span></a>
        <a href="https://twitter.com/repasscloud/"><span data-feather='twitter'></span></a>
        <a href="https://linkedin.com/company/repass-cloud"><span data-feather='linkedin'></span></a>
        <a href="/case-studies/"><span data-feather='award'></span></a>
        <a href="/legal/"><span data-feather='file-text'></span></a>
        <a href="/contact/"><span data-feather='mail'></span></a>
    </div>
</footer>