name: Weekly Sitemap Submission

on:
  schedule:
    - cron: '0 0 * * 0' # Run every Sunday at midnight UTC
  workflow_dispatch:

jobs:
  sitemap_submission:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install requests library
      run: pip install requests

    - name: Run the submission script (Google)
      run: python script/submit2-google.py

    - name: Run the submission script (Bing)
      run: python script/submit2-bing.py

    - name: Run the submission script (IndexNow)
      env:
        INDEXNOW_KEY: 3badb1c379dc4feca3c999fe3e98a9b2
        INDEXNOW_HOST: repasscloud.com
        INDEXNOW_SITEMAP_URL: https://repasscloud.com/sitemap.xml
      run: bash script/submit2-indexnow.sh